# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
TexturesCopy
build.bat
#Working files(e.g. GIMP files)
*.xcf
