# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
TexturesCopy
#Working files(e.g. GIMP files)
*.xcf
logs
blockbench/*.java
_notes/cqr-notes/OneNote_RecycleBin/
/.apt_generated/
/.apt_generated_tests/
